.bg-color{
    background: linear-gradient(180deg, #303F60 35%,#EDF6FF 35%);
    height:100vh;
}
.home-bg{ 
    background: transparent linear-gradient(248deg, #303F60 0%, #1A253C 100%) 0% 0% no-repeat padding-box;
    margin: auto;
    height: 250px;
}
.form-box{
    padding-top: 60px;
}
.form-div{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 36px #557DA526;
    border-radius: 20px;
    width:450px;
    margin: auto;
    padding: 30px;
}

.form-control{
    background-color: #E8E8E833;
}

.text-blue{
    color: #303F60;
}

.text-ltblue{
    color:#43AFFF
}

.btn-login{
    background-color:#43AFFF;
    width: 30%;
    color: white;
}
.btn-login:hover{
    background-color:#43AFFF;
    width: 30%;
    color: white;
}

.content{
    visibility: hidden;
    height: 100vh;
}

::ng-deep .toast-success{
    background-color: white;
    color: black;
}

::ng-deep .toast-container .ngx-toastr {
    background-color: white;
    color: black;
    padding: 15px;
}

::ng-deep .toast-close-button {
    color: black;
}

::ng-deep .toast-title {
    color: #43AFFF;
}

.invalid{
    border:1px solid red;
}

.error{
    text-align: right;
}

@media screen and (max-width:500px){
    .form-div{
        width: 100%;
        padding: 16px;
    }
    .form-box{
        padding-left: 10px;
        padding-right: 10px;
    }
}
