<div class="container-fluid p-0 m-0">
    <div class="m-auto bg-color">
        <div class="d-flex justify-content-around p-3 home-bg">
            <div class="pt-5 ps-5">
                <h3 class="welcome-text">Welcome to</h3>
                <h3 class="welcome-text job-text">My <span class="text-blue">Jobs</span></h3>
                <button class="btn mt-3 btn-get">Get Started</button>
            </div>
            <img src="../../assets/home-image.png" alt="home" class="home-image">
        </div>
        <div class="why-div">
            <p class="why-text">Why Us</p>
            <div class="row pt-4">
                <div class="col-4">
                    <div class="card why-card">
                        <h5 class="card-title text-blue">Get More</h5>
                        <h5 class="card-title text-blue">Visibility</h5>
                        <p class="card-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card why-card">
                        <h5 class="card-title text-blue">Organize Your</h5>
                        <h5 class="card-title text-blue">Candidates</h5>
                        <p class="card-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card why-card">
                        <h5 class="card-title text-blue">Verify Their</h5>
                        <h5 class="card-title text-blue">Abilities</h5>
                        <p class="card-text mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
            <div class="mt-5 pt-3">
                <p class="why-text">Companies Who Trust Us</p>
                <div class="d-flex justify-content-between mt-4">
                    <img src="../../assets/solaytic.png" alt="solaytic" width="115px" height="40px">
                    <img src="../../assets/kanba.png" alt="kanba" width="115px" height="40px">
                    <img src="../../assets/lightai.png" alt="lightai" width="115px" height="40px">
                    <img src="../../assets/ztos.png" alt="ztos" width="115px" height="40px">
                    <img src="../../assets/kanba.png" alt="kanba" width="115px" height="40px">
                </div>
                <div class="d-flex justify-content-around mt-4">
                    <img src="../../assets/goldline.png" alt="goldline" width="115px" height="40px">
                    <img src="../../assets/ideaa.png" alt="ideaa" width="115px" height="40px">
                    <img src="../../assets/liva.png" alt="liva" width="115px" height="40px">
                    <img src="../../assets/velocity.png" alt="velocity" width="115px" height="40px">
                </div>
            </div>
        </div>
    </div>    
</div>